.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(167, 177, 255);
}

.kick-pad.active {
  background: rgb(124, 139, 252);
}

.snare-pad {
  background: rgb(167, 232, 255);
}

.snare-pad.active {
  background: rgb(101, 212, 252);
}

.hihat-pad {
  background: rgb(255, 218, 167);
}

.hihat-pad.active {
  background: rgb(255, 196, 113);
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(91, 91, 91);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.pad {
  transition: all 500ms ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(91, 91, 91);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.mute.active {
  background-color: gray;
}
